[Unit]
Description=gunicorn daemon for __APP__
After=network.target postgresql.service redis-server.service

[Service]
User=__APP__
Group=www-data
WorkingDirectory=__INSTALL_DIR__
Environment="PATH=__INSTALL_DIR__/venv/bin"
Environment="DJANGO_SETTINGS_MODULE=__PROJECT_NAME__.wsgi:application"
EnvironmentFile=__INSTALL_DIR__/.env
ExecStart=__INSTALL_DIR__/venv/bin/gunicorn \
    --access-logfile - \
    --workers 3 \
    --worker-class gevent \
    --worker-connections 1000 \
    --bind unix:__INSTALL_DIR__/gunicorn.sock \
    __PROJECT_NAME__.wsgi:application

[Install]
WantedBy=multi-user.target
